.searchUsers {
    display: flex;
    padding-bottom: 50px;
    margin: 0 auto;
    justify-content: space-around;
    color: white;
}

.userProfile {
    align-items: center;
    color: white;
}

.userButton {
    width: 90px;
    height: 40px;
    border-radius: 15px;
    border-color: #f4f4f4; 
    background-color: white;
    outline: none;
    font-weight: bolder;
    cursor: pointer;
}

